{% extends 'starter-page.html' %}
{% load static %}
{% block body %}

<!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>This resume showcases my expertise and dedication, showcasing my ability to solve complex challenges and deliver high-quality results.
            I am skilled in managing multiple projects while ensuring excellence in every task. </p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Summary</h3>

            <div class="resume-item pb-0">
              <h4>Moses Njuguna</h4>
              <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p>
              <ul>
                <li>Thika, Kenya</li>
                <li>254 793 58 99 63</li>
                <li>njugunahmoses448@gmail.com</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of Science in Computer Science</h4>
              <h5>2022 - Date</h5>
              <p><em>Zetech University Ruiru , Kenya</em></p>
              <p><b>During my studies at Zetech University, I have developed a solid foundation in computer science, covering key areas such as software development, algorithms, data structures, and web technologies.
                  <br> My coursework and hands-on projects have equipped me with the skills necessary to tackle complex problems and build innovative solutions.
                  <br> I'm continuously exploring new technologies and methodologies to stay ahead in this fast-evolving field.</b></p>

            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4></h4>
              <h5>2010 - 2014</h5>
              <p><em>eMOBILIS Institute of Technology, Parklands, Nairobi-Kenya</em></p>
              <p> <b> At eMOBILIS Institute of Technology, I gained hands-on experience in web development, learning the core principles of front-end and back-end development.
                  <br> The curriculum covered key technologies such as HTML, CSS, JavaScript, and database management, equipping me with practical skills to build dynamic and responsive websites. This experience laid the foundation for my continued passion and expertise in web development </b> </p>
            </div><!-- Edn Resume Item -->

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Web development Specialist</h4>
              <h5>2019 - Present</h5>
              <p><em>Tech Innovations Ltd., Nairobi, Kenya</em></p>
              <ul>
                <li>Lead the design, development, and implementation of web applications and digital products, ensuring a seamless user experience and responsive design.</li>
                <li>Manage a team of 7 developers, delegating tasks and providing guidance throughout the project lifecycle. </li>
                <li>SOversee the quality assessment of all web development deliverables to ensure functionality, design accuracy, and optimal performance.</li>
                <li>Supervise and manage production budgets for various web development projects, ranging from $2,000 to $25,000.</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Data Science specialist</h4>
              <h5>2017 - 2018</h5>
              <p><em>Creative Digital Solutions, Thika, Kenya</em></p>
              <ul>
                <li>Developed and implemented data-driven marketing strategies, including interactive websites, presentations, and digital advertisements.</li>
                <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
                <li>Consulted with clients to determine the best data solutions and designs for their specific needs.</li>
                <li>Created 4+ Data science presentations and proposals each month, working closely with clients and account managers to ensure satisfaction.</li>
              </ul>
            </div><!-- Edn Resume Item -->

          </div>

        </div>

      </div>

    </section><!-- /Resume Section -->


{% endblock %}